.plastic
.vs
/Library
/Assets/RunemarkStudio
/Assets/NatureManufacture Assets
/Assets/"NatureManufacture Assets"
/Assets/"Fantasy Adventure Environment"
/Assets/Fantasy Adventure Environment
*.png**
/Logs
/obj
/Packages
/UserSettings
